<footer>
    <img src="/images/logo.png" class="footer-logo" alt="">
    <div class="footer-nav-links text-center">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Create Your Plan</a></li>
      </ul>
    </div>
    <div class="social-links">
      <ul>
        <a href="#"><img src="/images/facebook.png" class="invert"></a>
        <a href="#"><img src="/images/twitter.png" class="invert"></a>
        <a href="#"><img src="/images/instagram.png" class="invert"></a>
      </ul>
    </div>
</footer>

