<%- include("partials/head") -%>
<body>
  <div class="container">
    <%- include("partials/header") -%>

    <h1 class="clearfix">Admin Section</h1>
    <p>Test Data: <%= data %></p>
  </div>

  <script src="javascripts/application.js"></script>
</body>
<%- include("partials/footer") -%>
