  <%- include("partials/head") -%>
  <body>
    <div class="container">
      <%- include("partials/header") -%>

      <div class="banner-section">banner section</div>
      <div>coffee stuff here</div>
    </div>

    <script src="javascripts/application.js"></script>
  </body>
  <%- include("partials/footer") -%>
