<%- include("partials/head") -%>
<body>
  <div class="container">
    <%- include("partials/header") -%>
    <div class="user-form-container clearfix">
      <h1>Login</h1>

      <p class="error"></p>

      <form action="/login" method="POST">
        <p>
          <input type="email" name="email" placeholder="Email" />
        </p>

        <input type="password" name="password" placeholder="Password"/>
        <div class="form-buttons">
            <input type="submit" value="Login"/>
            <input type="submit" value="Signup"/>
        </div>
      </form>
    </div>
    
  </div>

  <script src="javascripts/application.js"></script>

  <script>
    if($.cookie("Error")) {
      $(".error").html($.cookie("Error"));

      $.removeCookie("Error");
    }
  </script>
</body>
<%- include("partials/footer") -%>
